<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.mapper.GoodsorderMapper">

    <!--添加订单-->
    <insert id="add" parameterType="com.zx.entity.Goodsorder" >
        insert into goodsorder(order_id, user_id, product_id,
                               product_num, product_picture,
                               product_name, product_price)
        values (CURRENT_TIMESTAMP+#{user_id},#{user_id},#{product_id},#{product_num},
                #{product_picture},#{product_name},#{product_price})
    </insert>

    <!--获取订单的id-->
    <select id="queryOrderId" parameterType="int" resultType="java.lang.Long">
        select order_id
        from goodsorder
        where user_id = #{user_id}
        group by order_id
        order by order_id desc
    </select>
    <!--查询订单
    SELECT order_id,GROUP_CONCAT(user_id) 用户id,GROUP_CONCAT(product_id)商品id,
    GROUP_CONCAT(product_name) 商品名,GROUP_CONCAT(product_picture)商品图片,GROUP_CONCAT(product_price)商品价格,GROUP_CONCAT(order_time)订单时间
    from goodsorder
    WHERE user_id = 1
    GROUP BY order_id
    -->
    <select id="queryOrder" parameterType="int" resultType="com.zx.entity.Goodsorder">
        select * from goodsorder where user_id = #{user_id} order by order_time desc
    </select>


</mapper>
